/* section navbar */

.pkmnapp-section-navbar-span {
    font-family: Ubuntu;
    font-weight: 400;
    font-size: 20px;
    color: black;
}

.pkmn-navbar {
    background-color: #D9D9D9;
}


/* section banner */

.pkmnapp-section-banner {
    padding-top: 58px;
    padding-bottom: 91px;
}

.pkmnapp-section-banner__col {
    background-color: black;
}

.pkmnapp-section-banner h1 {
    font-family: Ubuntu;
    font-weight: 400;
    font-size: 48px;
    color: white;
    text-align: center;
    padding-top: 104px;
    padding-bottom: 104px;
}

/* section main */

.pkmnapp-section-main {
    padding-bottom: 86px;
}

.pkmnapp-button-gen {
    text-align: center;
    padding-top: 36px;
}

.pkmnapp-btn {
    width: 100%;
    font-family: Ubuntu;
    font-weight: 400;
    font-size: 24px;
    border: none;
    background-color: #D9D9D9;
}

.pkmnapp-section-main-pkmn {
    background-color: #D9D9D9;
    text-align: center;
    padding-top:62px;
    padding-bottom: 62px;
    padding-left: 120px;
    padding-right: 120px;
}
.pkmnapp-section-main-pkmn--char {
    padding-top:18px;
    padding-bottom: 52px;
    padding-left: 110px;
    padding-right: 110px;
}

.pkmnapp-section-main-pkmn--bul {
    padding-top:52px;
    padding-bottom: 87px;
    padding-left: 120px;
    padding-right: 120px;
}

/* section footer */

.pkmnapp-section-footer {
    padding-bottom: 131px;
}

.pkmnapp-section-footer p {
    font-family: Ubuntu;
    font-weight: 400;
    font-size:24px;
}

/* section modals */

.modal-header--custom {
    border-bottom: none;
    padding-top: 76px;
    padding-left: 60px;
}

.modal-footer--custom {
    border-top: none;
    padding-right: 90px;
    padding-bottom: 40px;
}

.modal-header h5 {
    font-family: Ubuntu;
    font-weight: 400;
    font-size: 32px;
}

.pkmnapp-section-modals-span1 {
    color: blue;
}

.pkmnapp-section-modals-span2 {
    color: red;
}

.pkmnapp-section-modals-span3 {
    color: green
}

.pkmnapp-section-modal-squirtle {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 130px;
}

.pkmnapp-section-modal-char {
    text-align: center;
    padding-bottom: 130px;
}

.pkmnapp-section-modal-bul {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 130px;
}

.table th {
    border: none;
}

.table td {
    border: none;
}

.pkmnapp-button-squirtle1 {
    background-color:#3BA7F4;
    border: none;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 60px;
    padding-right: 60px;
}

.pkmnapp-button-squirtle2 {
    background-color: #89FFEA;
    border: none;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 60px;
    padding-right: 60px;
}

.pkmnapp-button-char1 {
    background-color: #FD9C2A;
    border: none;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 60px;
    padding-right: 60px;
}

.pkmnapp-button-char2 {
    background-color:#FFE3C1;
    border: none;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 60px;
    padding-right: 60px;
}

.pkmnapp-button-bul1 {
    background-color: #5BCB27;
    border: none;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 60px;
    padding-right: 60px;
}

.pkmnapp-button-bul2 {
    background-color: #B8FF9F;
    border: none;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 60px;
    padding-right: 60px;
}

.pkmnapp-table {
    padding-right: 150px;
}


/* mediaquery */


@media (max-width: 600px) {

    .pkmnapp-btn {
        padding-top: 15px ;
        padding-bottom: 15px ;
    }

    .pkmnapp-button-gen {
        padding-top: 20px;
        padding-bottom: 60px;
    }

    .pkmnapp-section-footer {
        padding-top: none ;
    }
}
